In [1]:
%matplotlib inline
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
r = requests.get("http://www.the-numbers.com/movie/records/All-Time-Domestic-Box-Office")
soup = BeautifulSoup(r.text, "lxml")

In [3]:
allrows = soup.find_all("tr")

In [7]:
allrows[1]

<tr class="highlight">
<td class="data">1</td>
<td class="data">2015</td>
<td><b><a href="/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=summary">Star Wars Ep. VII: The Force Awakens</a></b></td>
<td class="data">$936,662,225</td>
<td class="data">$1,122,000,000</td>
<td class="data">$2,058,662,225</td>
</tr>

In [26]:
boxOffice = {'releaseDate':[], 'title':[], "domesticProceeds":[],
             "internationalProceeds":[], "worldwideProceeds":[]}

for row in allrows[1:]:
    currentRow = row.find_all("td")
    
    releaseYear = currentRow[1].contents[0]
    boxOffice['releaseDate'].append(int(releaseYear))
    boxOffice['title'].append(currentRow[2].get_text())
    boxOffice['domesticProceeds'].append(currentRow[3].contents[0])
    boxOffice['internationalProceeds'].append(currentRow[4].contents[0])
    boxOffice['worldwideProceeds'].append(currentRow[5].contents[0])

In [36]:
df = pd.DataFrame(boxOffice)
df.head(10)

,domesticProceeds,internationalProceeds,releaseDate,title,worldwideProceeds
0,"$936,662,225","$1,122,000,000",2015,Star Wars Ep. VII: The Force Awakens,"$2,058,662,225"
1,"$760,507,625","$2,023,411,357",2009,Avatar,"$2,783,918,982"
2,"$658,672,302","$1,548,943,366",1997,Titanic,"$2,207,615,668"
3,"$652,198,010","$1,018,130,015",2015,Jurassic World,"$1,670,328,025"
4,"$623,279,547","$896,200,000",2012,The Avengers,"$1,519,479,547"
5,"$533,345,358","$469,546,000",2008,The Dark Knight,"$1,002,891,358"
6,"$483,597,782","$467,000,000",2016,Finding Dory,"$950,597,782"
7,"$474,544,677","$552,500,000",1999,Star Wars Ep. I: The Phantom Menace,"$1,027,044,677"
8,"$460,998,007","$325,600,000",1977,Star Wars Ep. IV: A New Hope,"$786,598,007"
9,"$459,005,868","$945,700,000",2015,Avengers: Age of Ultron,"$1,404,705,868"

In [43]:
csv = df.to_csv('boxOffice')
csv